{% extends 'base.html' %}
{#/flashcard/<str:SOFId>#}
{% block title %}Fiszka {{ setOfFlashcards.name }}{% endblock %}
{% block content %}
    <center>
    <div style="width: 36rem";>
<div class="container mx-auto">
	{% for flashcard in flashcards %}
{#	<div class="card mt-3">#}
{#		<div class="card-header d-flex flex-row justify-content-between">#}
<div class="scene scene--card mt-auto">
                <div class="card">
                    <div class="card__face card__face--front">{{ flashcard.first }}</div>
                    <div class="card__face card__face--back">{{ flashcard.second }}</div>
                      </div>
                </div>
        </div>
	</div>
	{% empty %}
	<p>Pusto</p>
	{% endfor %}
</div>
    {% if flashcards.has_other_pages %}
        <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if flashcards.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ flashcards.previous_page_number }}">Poprzednia</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="">Poprzednia</a></li>
    {% endif %}
    {% if flashcards.has_next %}
      <li class="page-item"><a class="page-link" class="page-link" href="?page={{ flashcards.next_page_number }}">Następna</a></li>
    {% else %}
      <li  class="page-item disabled"><a class="page-link" class="page-link" href="">Następna</a></li>
    {% endif %}
  </ul>
        </nav>
{% endif %}
    </div>
    </center>
    <script>
    var cards = document.querySelectorAll('.card');

[...cards].forEach((card)=>{
  card.addEventListener( 'click', function() {
    card.classList.toggle('is-flipped');
  });
});
    </script>
{% endblock %}