{% extends 'base.html' %}
{#/home#}
{% block title %}Strona Główna{% endblock %}
{% block content %}
    {% for card in SetOfCards %}
	<div class="card mx-auto text-center col-sm-3">
		<div class="card-body d-flex flex-row justify-content-between">
			<div class="post-preview-container">
        <a href="{% url 'flashcard' card.id %}">
          <div>
            <h5 class="card-title" >{{card.name}}</h5>
          </div>
        </a>

	</div>
        </div>
    </div>
	{% empty %}
	<p>Brak fiszek</p>
	{% endfor %}
{% endblock %}