{% extends 'base.html' %}
{% block title %}Strona Główna{% endblock %}
{% block content %}
    {% for card in zestawyFiszek %}
	<div class="card mt-2">
		<div class="card-body d-flex flex-row justify-content-between">
			<div class="post-preview-container">
        <a href="{% url 'flashcard' card.id %}">
          <div>
            <h5 class="card-title" >{{card.name}}</h5>
          </div>
        </a>

	</div>
        </div>
    </div>
	{% empty %}
	<p>Brak postów</p>
	{% endfor %}
{% endblock %}