{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block title %}Fiszka {{ setOfFlashcards.name }}{% endblock %}
{% block content %}
<div class="container mt-auto">
    {% if user.is_superuser %}
    <form method="post">
        {% csrf_token %}
        {{setOfFlashcardsForm|crispy}}
        {{setOfFlashcardsForm.media}}
        <button type="submit" class="btn btn-success" name="edit-card-set-name">Edytuj</button>
    </form>
    <form method="post">
        {% csrf_token %}
        {{cardForm|crispy}}
        {{cardForm.media}}
        <button type="submit" class="btn btn-success" name="add-card">Dodaj</button>
    </form>
	{% for flashcard in flashcards %}
	<div class="card mt-2">
    <a href="{% url 'edit-flashcard' setOfFlashcards.id flashcard.id %}">
		<div class="card-header d-flex flex-row justify-content-between">

            <div>{{ flashcard.first }}</div>
            <div>{{ flashcard.second }}</div>
            <form method="POST" onsubmit="return confirm('Czy na pewno?')">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger position-top-right-corner" name="delete-card-id" value="{{flashcard.id}}">Usuń</button>
            </form>
        </div>
    </a>
	</div>
	{% empty %}
	<p>Pusto</p>
	{% endfor %}
</div>
    {% endif %}
{% endblock %}