{% extends 'base.html' %}
{#/manage-user-flashcards/<str:SOUFId>#}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block title %}Fiszka {{ setOfFlashcards.name }}{% endblock %}
{% block content %}
    <center>
    <div style="width: 50%";>
<div class="container mt-auto">
    {% if user.is_superuser %}
        Fiszka: {{ setOfFlashcards.name }}
        <form method="POST" onsubmit="return confirm('Czy na pewno?')">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" name="delete-set-id" value="{{setOfFlashcards.id}}">Usuń całą fiszkę</button>
            </form>
	{% for flashcard in flashcards %}
	<div class="card mt-3">
		<div class="card-header d-flex flex-row justify-content-between">

            <div>{{ flashcard.first }}</div>
            <div>{{ flashcard.second }}</div>
            <form method="POST" onsubmit="return confirm('Czy na pewno?')">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger position-top-right-corner" name="delete-card-id" value="{{flashcard.id}}">Usuń</button>
            </form>
        </div>
	</div>
	{% empty %}
	<p>Pusto</p>
	{% endfor %}

        {% else %}
    Brak uprawnień
    {% endif %}
</div>
    </div>
    </center>
{% endblock %}