{% extends 'base.html' %}
{#/profile/<str:userId>#}
{% block title %}
    {% if profile != None %}
        Profil {{ profile.username }}
    {% else %}
        Profil nie istnieje
    {% endif %}
{% endblock %}
{% block content %}
    <center>
    <div style="width: 36rem";>
    {% if profile != None %}
    <div>
        Profil użytkownika <strong>{{ profile.username }}</strong>
    </div>
    {% for card in setOfProfileFlashcards %}
	<div class="card mt-2">
		<div class="card-body d-flex flex-row justify-content-between">
			<div class="post-preview-container">
            <a href="{% url 'user-flashcard' card.id %}">
              <div>
                <h5 class="card-title" >{{card.name}}</h5>
                  {% if profile.id == request.user.id %}
                      {% if card.is_private == True %}
                          Fiszka prywatna
                          {% endif %}
                  {% endif %}
              {% if user.is_authenticated and profile.id != request.user.id %}
                  {% if card.Favorite == True %}
                      <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name="delete-from-favorite" value="{{ card.id }}">Usuń z ulubionych</button>
                    </form>
                  {% else %}
                        <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success" name="add-to-favorite" value="{{ card.id }}">Dodaj do ulubionych</button>
                        </form>
                  {% endif %}
              {% endif %}
              </div>
            </a>
	        </div>

        </div>
    </div>
	{% empty %}
	<p>Brak fiszek</p>
	{% endfor %}

    {% if setOfProfileFlashcards.has_other_pages %}
        <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if setOfProfileFlashcards.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ setOfProfileFlashcards.previous_page_number }}">Poprzednia</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="">Poprzednia</a></li>
    {% endif %}
    {% for i in setOfProfileFlashcards.paginator.page_range %}
      {% if setOfProfileFlashcards.number == i %}
        <li  class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if setOfProfileFlashcards.has_next %}
      <li class="page-item"><a class="page-link" class="page-link" href="?page={{ setOfProfileFlashcards.next_page_number }}">Następna</a></li>
    {% else %}
      <li  class="page-item disabled"><a class="page-link" class="page-link" href="">Następna</a></li>
    {% endif %}
  </ul>
        </nav>
    {% endif %}
    {% else %}
        Taki profil nie istnieje
    {% endif %}
    </div>
    </center>
{% endblock %}