{% extends 'base.html' %}
{#/user-manage-flashcard/<str:SOUFId>/<str:cardId>#}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block title %}Fiszka {{ setOfFlashcards.name }}{% endblock %}
{% block content %}
<div class="container mt-auto">
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{cardForm|crispy}}
        {{cardForm.media}}
        <button type="submit" class="btn btn-success" name="edit-card">Edytuj</button>
    </form>

        {% else %}
    Brak uprawnień
    {% endif %}
    </div>
{% endblock %}