{% extends 'base.html' %}
{#/user-manage-flashcards#}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block title %}Strona Główna{% endblock %}
{% block content %}
    <center>
    <div style="width: 50%";>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{SetOfCardsForm|crispy}}
        {{SetOfCardsForm.media}}
        <button type="submit" class="btn btn-success" name="add-card-set">Dodaj</button>
    </form>
    {% for card in SetOfCards %}
	<div class="card mt-2 center">
		<div class="card-body d-flex flex-row justify-content-between">
			<div class="post-preview-container">
        <a href="{% url 'user-manage-flashcard' card.id %}">
          <div>
            <h5 class="card-title" >{{card.name}}</h5>
{#                Tu przydałoby się to jakoś ładne wyrównać, może w jednej lini?#}
              {% if card.is_private == True %}
                  Prywatna
              {% else %}
                  Publiczna
              {% endif %}
            <form method="POST" onsubmit="return confirm('Czy na pewno?')">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger position-top-right-corner" name="delete-card-set-id" value="{{card.id}}">Usuń</button>
            </form>
          </div>
        </a>

	</div>
        </div>
    </div>
	{% empty %}
	<p>Brak fiszek</p>
	{% endfor %}
    {% else %}
    Brak uprawnień
    {% endif %}
    </div>
    </center>
{% endblock %}