{% extends 'base.html' %}
{#/user-flashcards#}
{% block title %}Fiszki użytkowników{% endblock %}
{% block content %}
    <center>
    <div style="width: 36rem";>
    {% for card in SetOfUserCards %}
	<div class="card mt-2">
		<div class="card-body d-flex flex-row justify-content-between">
			<div class="post-preview-container">
            <a href="{% url 'user-flashcard' card.id %}">
              <div>
                <h5 class="card-title" >{{card.name}}</h5>
                    {% if user.is_authenticated %}
                  {% if card.Favorite == True %}
                      <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name="delete-from-favorite" value="{{ card.id }}">Usuń z ulubionych</button>
                    </form>
                  {% else %}
                        <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success" name="add-to-favorite" value="{{ card.id }}">Dodaj do ulubionych</button>
                        </form>
                  {% endif %}
              {% endif %}
              </div>
            </a>
            <a href="{% url 'profile' card.auth_user.id %}">@{{ card.auth_user.username }}</a>
	        </div>

        </div>
    </div>
	{% empty %}
	<p>Brak fiszek</p>
	{% endfor %}
    {% if SetOfUserCards.has_other_pages %}
        <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if SetOfUserCards.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ SetOfUserCards.previous_page_number }}">Poprzednia</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="">Poprzednia</a></li>
    {% endif %}
    {% for i in SetOfUserCards.paginator.page_range %}
      {% if SetOfUserCards.number == i %}
        <li  class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if SetOfUserCards.has_next %}
      <li class="page-item"><a class="page-link" class="page-link" href="?page={{ SetOfUserCards.next_page_number }}">Następna</a></li>
    {% else %}
      <li  class="page-item disabled"><a class="page-link" class="page-link" href="">Następna</a></li>
    {% endif %}
  </ul>
        </nav>
    {% endif %}
    </div>
    </center>
{% endblock %}