{% extends 'base.html' %}
{#/user-flashcard/<str:SOUFId>#}
{% block title %}Fiszka {{ setOfUserFlashcards.name }}{% endblock %}
{% block content %}
    {% if setOfUserFlashcards.is_private == True and user.id != setOfUserFlashcards.auth_user.id %}
    Brak dostępu
    {% else %}
<div class="container mt-auto">
	{% for flashcard in flashcards %}
	<div class="card mt-2">
		<div class="card-header d-flex flex-row justify-content-between">
{#            Tutaj fajnie jakby była animacja obracania, tak aby druga strona była widoczna p kliknięciu#}
            <div>{{ flashcard.first }}</div>
            <div>{{ flashcard.second }}</div>
        </div>
	</div>

	{% empty %}
	<p>Pusto</p>
	{% endfor %}
</div>
    {% if flashcards.has_other_pages %}
        <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if flashcards.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ flashcards.previous_page_number }}">Poprzednia</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="">Poprzednia</a></li>
    {% endif %}
    {% if flashcards.has_next %}
      <li class="page-item"><a class="page-link" class="page-link" href="?page={{ flashcards.next_page_number }}">Następna</a></li>
    {% else %}
      <li  class="page-item disabled"><a class="page-link" class="page-link" href="">Następna</a></li>
    {% endif %}
  </ul>
        </nav>
{% endif %}
    {% if setOfUserFlashcards.auth_user.id != request.user.id and user.is_authenticated %}
    {% if isFavorite == True %}
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" name="delete-from-favorite">Usuń z ulubionych</button>
        </form>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" name="add-to-favorite">Dodaj do ulubionych</button>
        </form>
    {% endif %}
    {% endif %}
    {% endif %}
{% endblock %}